<!DOCTYPE html>
<html lang="en">
<head>
    <title>ERROR INPUT</title>
</head>
<body>
    <h1 align="left" style="color: blue; align-items: left">DATA YANG ANDA MASUKKAN SALAH!!!</h1>
    <h1>Coba Cek kembali!!</h1>
    <p>
        1. Data tidak boleh kosong
    </p>
    <p>
        2. Masukkan sesuai dengan batas minimum dan maksimum dari Tabel
    </p>
    <p>
        3. Simbol koma menggunakan ","
    </p>
    

    <button type="button"><a href="http://localhost:5000/">KEMBALI</a></button>

</body>
</html>